
*.sln

src/Alura.CoisasAFazer.Core/bin/

src/Alura.CoisasAFazer.Core/obj/

src/Alura.CoisasAFazer.Infrastructure/bin/

src/Alura.CoisasAFazer.Infrastructure/obj/

src/Alura.CoisasAFazer.Services/bin/

src/Alura.CoisasAFazer.Services/obj/

src/Alura.CoisasAFazer.WebApp/obj/

.vs/Alura.CoisasAFazer/

CoisasAFazerTestes/bin/

CoisasAFazerTestes/obj/
